<form class="form-group" *ngIf="crud_operation.is_visible">

    <label for="">Documento</label>
    <input type="number" class="form-control"[(ngModel)]="actual_cliente.documento" name="documento">
    <label for="">Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="actual_cliente.nombre" name="nombre">
    <label for="">Correo</label>
    <input type="text" class="form-control" [(ngModel)]="actual_cliente.correo" name="correo">
    <label for="text">Dirección</label>
    <input type="text" class="form-control" [(ngModel)]="actual_cliente.direccion"name="direccion">

    <button class="btn btn-success" (click)="save()">Guardar</button>
    <button class="btn btn-secondary" (click)="crud_operation.is_visible=false"><i class="far fa-arrow-alt-circle-up"></i></button>
    
</form>

<button class="btn btn-info" (click)="new()">Registar Cliente</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Documento</th>
        <th scope="col">Nombre</th>
        <th scope="col">correo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>{{row.documento}}</td>
        <td>{{row.nombre}}</td>
        <td>{{row.correo}}</td>
        <td>{{row.direccion}}</td>
        <td><button class="btn btn-success"(click)="edit(row)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="delete(row.id)">Eliminar</button></td>
        
      </tr>
    </tbody>
  </table>
