<app-navbar></app-navbar>  
<form class="form-group" *ngIf="crud_operation.is_visible">

  <label for="">Nombre</label>
  <input type="text" class="form-control"[(ngModel)]="actual_usuario.name" name="name">
  <label for="">Correo</label>
  <input type="text" class="form-control" [(ngModel)]="actual_usuario.email" name="email">
  <label for="">Password</label>
  <input type="text" class="form-control" [(ngModel)]="actual_usuario.password" name="password">
  <div class="form-group">
    <label for="">Rol</label>
    <select class="form-control" [(ngModel)]="actual_usuario.id_rol" name="id_rol" id="exampleFormControlSelect2" required>
        <option value="1">Administrador</option>
        <option value="2">Vendedor</option>
    </select>
</div>

  <button class="btn btn-success" (click)="save()">Guardar</button>
  <button class="btn btn-secondary" (click)="crud_operation.is_visible=false"><i class="far fa-arrow-alt-circle-up"></i></button>
  
</form>
<br>  

<div class="form-inline col-md-12">
  <button class="btn btn-outline-success my-2 my-sm-0" style="float:right"(click)="ngOnInit()">Buscar</button>
  <input class="form-control mr-sm-2"  type="buscar" placeholder="Buscar" [(ngModel)]="query"><br>
</div>
<button class="btn btn-info" style="float:right"><a routerLink="/registro">Registrar usuario</a></button><br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Rol</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
        <td>{{row.nombre_rol}}</td>
        <td><button class="btn btn-success"(click)="edit(row)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="delete(row.id)">Eliminar</button></td>
        
      </tr>
    </tbody>
  </table>
