<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
        <td><button class="btn btn-success">Editar</button></td>
        <td><button class="btn btn-danger">Eliminar</button></td>
        
      </tr>
    </tbody>
  </table>
