<div class="container mt-4">

<header class="bg-info text-white p-1 mb-2 text-center">
    <h1>Registro</h1>
</header>


<form>

    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" name="name" class="form-control" placeholder="Nombre">
    </div>

    <div class="form-group">
        <label for="">Correo</label>
        <input type="text" name="email" class="form-control" placeholder="Correo">
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="">Confirmar Password</label>
        <input type="password" name="confirm_password" class="form-control" placeholder="Confirmar Password">
    </div>

        <div class="form-group">
        <label for="">Rol</label>
        <select class="form-control" name="id_rol" id="exampleFormControlSelect2">
            <option value="1">Administrador</option>
            <option value="2">Vendedor</option>
          </select>
    </div>

</form>

</div>
