<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="usuarios">Usuario <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Clientes</a>
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-success"(click)="logout()" style="float:left">Salir</a>
      </nav>
      
    <div class="row">
        <div class="col mt-5 mb-5">
            <router-outlet></router-outlet>
        </div>

    </div>


</div>

