<div class="container mt-4">

    <header class="bg-info text-white p-1 mb-2 text-center">
        <h1>Login</h1>
    </header>


    <form>

        <div class="form-group">
            <label for="">Correo</label>
            <input type="text" name="email" class="form-control" placeholder="Correo">
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>


    </form>

</div>